.user-update {
  display: block;
  width: 390px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}

.user-update:hover {
  border: 1px solid #aaa;
}
