<div myColorChange="rgb(56, 129, 93)" class="title-list">List of users</div>
<div class="d-flex">
  <button class="add-btn" [routerLink]="['/addUser']">+ Add user</button>
  <div>
    <input type="text" id="name" [(ngModel)]="searchStr">
    <label>Search by name</label>
  </div>
</div>

<div class="d-flex">
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Options</th>
    </tr>
    <tr appMyEvent *ngFor="let item of userList | search: searchStr;let i= index">
      <td>{{i + 1}}</td>
      <td>{{item.userName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phoneNumber | textTransform: '+38'}}</td>
      <td>
        <div class="btn-align">
        <button class="options-btn" [routerLink]="['/getUser', item.userId]" (click)="onSelect(item)">Details</button>
        <button class="options-btn background-green" [routerLink]="['/updateUser', item.userId]">Edit</button>
        <button class="options-btn background-red" (click)="delete(item.userId)">Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>
