<div [myColorChange]="currentColor" class="title">Add User:</div>
<form>
  <div class="inputs-middle">
    <input type="text" required #name='ngModel' name="userName" class="user-register" placeholder="Name"
           [(ngModel)]="userObj.userName"/>
    <div *ngIf="name.touched">
      <span [myColorChange]="requireColor" *ngIf="name.errors?.['required']">Required</span>
    </div>
    <input type="text" required #email='ngModel' name="email" class="user-register" placeholder="Email"
           [(ngModel)]="userObj.email"/>
    <div *ngIf="email.touched">
      <span [myColorChange]="requireColor" *ngIf="email.errors?.['required']">Required</span>
    </div>
    <input type="text" required #phone='ngModel' name="phone" class="user-register"
           placeholder="Enter the phone number without country code (+380)" [(ngModel)]="userObj.phoneNumber"/>
    <div *ngIf="phone.touched">
      <span [myColorChange]="requireColor" *ngIf="phone.errors?.['required']">Required</span>
    </div>
    <button class="submit" (click)="saveUser()">Submit</button>
  </div>
</form>
